#root {
  max-width: 1380px;
  margin: 0;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin{
    animation: spin 1s linear infinite;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.gameHub {
  position: relative;
  background-image: url("/background3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}
.gameHub::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  pointer-events: none;
  z-index: 0;
}
.hero {
  background-image: linear-gradient(
      rgba(255, 4, 4, 0.189) 5%,
      rgba(22, 80, 196, 0.189) 20%,
      rgba(0, 0, 0, 0.4) 40%
    ),
    url("/background3.jpeg");
  background-size: cover;
  background-position: bottom;
  background: fill;
  background-repeat: no-repeat;
  @apply min-h-[300px] max-h-[500px] md:h-[70vh] w-full flex flex-col justify-center items-center;
}
button {
  @apply transition-all transform hover:scale-[1.05];
}
.refresh {
  @apply w-[100px] h-[35px] rounded text-[1rem] capitalize;
}
.pong_hero > section {
  @apply flex flex-wrap md:flex-row justify-around items-center gap-3 py-4 px-2 w-full md:px-12;
}
.pong_hero > section > article {
  @apply flex flex-col justify-center items-center h-[90px] sm:h-[120px] sm:text-[1rem] text-primary w-[50%] sm:w-[22%] 
  transform transition-all duration-300 max-w-[160px] sm:max-w-[350px] bg-[#0B0B0E] md:max-w-[450px] rounded-sm sm:px-5
  group-hover:scale-[1.2];
  border: 1px solid #ffc05b;
  cursor: pointer;
  font-family: "ribeye";
}
.pong_hero {
  @apply w-full min-h-[300px] min-h-[220px] flex justify-center items-center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 60%,
      rgba(16, 16, 17, 0.802) 80%
    ),
    url("/background3.jpeg");
}
.boostpack {
  @apply flex flex-col sm:flex-col rounded-lg border-primary border-[2px] mx-5 p-5 mt-3;
}
.boostpack > div {
  @apply flex flex-col sm:flex-row justify-between items-center gap-3 py-3;
}
.boostpack > div > article {
  @apply flex flex-col items-start justify-between rounded-sm p-2 w-full h-[100px];
  border: 1px solid #f8b141;
  cursor: pointer;
  & h5 {
    @apply text-[1.3rem] text-amber-400 text-nowrap;
    font-family: "ribeye";
  }
  & p {
    @apply text-xs lg:text-[0.9rem] text-start;
  }
  & span {
    @apply text-2xl font-thin;
  }
  & h6 {
    @appply font-thin text-sm;
  }
}
.boostpack > nav {
  @apply flex justify-between items-center pt-3 pb-5;
}
.boostpack > nav > h5 {
  @apply capitalize text-amber-400 text-2xl;
  font-family: "ribeye";
}
.bottomCard {
  @apply flex flex-col md:flex-row gap-2 py-2 px-4 justify-between items-center w-full;
}
.bottomCard > aside {
  @apply flex flex-col md:flex-row w-full md:gap-2 sm:max-w-[65%];
}
.livegames {
  @apply min-h-[350px] flex w-full max-h-[450px] p-2 overflow-y-auto flex-col border-[2px] border-primary rounded-lg
  sm:max-w-[450px] lg:max-w-[550px] w-full;
}
.livegames > header {
  @apply text-amber-400 text-3xl font-bold text-start rounded p-2 text-nowrap;
  font-family: "ribeye";
}
.livegames > :nth-child(2), .leadersBoard > :nth-child(2) {
  @apply flex flex-grow text-center justify-center items-center rounded-b-lg;
  border: 1px solid #f8b141;
}
.leadersBoard {
  @apply min-h-[350px] flex w-full max-h-[450px] p-2 overflow-y-auto flex-col border-[2px] border-primary rounded-lg
  sm:max-w-[350px] lg:max-w-[400px];
}
.leadersBoard > header {
  @apply text-amber-400 lg:text-xl text-xl font-bold text-start rounded p-2 text-nowrap;
  font-family: "ribeye";
}
.howToPlay{
    @apply min-h-[350px] flex w-full max-h-[450px] p-2 overflow-y-auto flex-col border-[2px] border-primary rounded-lg
  sm:max-w-[350px] lg:max-w-[400px] w-full;
} 
.howToPlay > header{
    @apply text-amber-400 text-2xl font-bold text-start rounded p-2 text-nowrap;
  font-family: "ribeye";
}
.howToPlay> p{
  @apply border-[1px] border-[#f8b141] rounded-lg h-full text-lg text-center flex p-2 items-center;
}
.dialogBody{
  @apply flex flex-col justify-center w-full p-3 items-center min-h-[120px] rounded;
    border: 1px solid #f8b141;
}
.loading{
  @apply spin h-6 w-8 font-bold text-[#f8b141];
}
.connecting{
  @apply flex flex-col justify-center items-center gap-2;
}
.cancelButton{
  @apply h-[30px] w-[100px] rounded-sm bg-[#0B0B0E] hover:bg-[#0B0B0E] border-[#f8b141] border-[1px] text-primary hover:text-red-400 hover:cursor-not-allowed;
  font-family: 'ribeye';
}
.connectButton {
  @apply !bg-primary !px-3 !py-1 !shadow-none hover:!shadow-none transition-none !text-[0.9rem] !duration-300 transition-all transform;
  font-family: 'ribeye' !important;
}
