#root {
  max-width: 1380px;
  margin: 0;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.gameHub{
  position: relative;
  background-image: url('/background3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}
.gameHub::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  pointer-events: none;
  z-index: 0;
}
.hero{
  background-image: linear-gradient( rgba(255, 4, 4, 0.189) 5%,rgba(22, 80, 196, 0.189) 20%, rgba(0, 0, 0, 0.4) 40%), url('/background3.jpeg');
  background-size: cover;
  background-position: bottom;
  background: fill;
  background-repeat: no-repeat;
  @apply min-h-[300px] max-h-[500px] md:h-[70vh] w-full flex flex-col justify-center items-center;
}
button {
  @apply transition-all transform hover:scale-[1.05];
}
.pong_hero> section {
  @apply flex flex-wrap md:flex-row justify-around items-center gap-3 py-4 px-2 w-full md:px-12 ;
}
.pong_hero> section > article{
  @apply flex flex-col justify-center items-center h-[90px] sm:h-[120px] sm:text-[1rem] text-primary w-[50%] sm:w-[22%] 
  transform transition-all duration-300 max-w-[160px] sm:max-w-[350px] bg-[#212937] md:max-w-[450px] rounded sm:px-5 group-hover:scale-[1.2];
  border: 1px solid #F8B141;
  cursor:pointer;
  font-family: 'ribeye';
}
.pong_hero{
  @apply w-full min-h-[220px] flex justify-center items-center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5) 60%,rgba(16, 16, 17, 0.802) 80%), url('/background3.jpeg');
}
.boostpack{
  @apply  flex flex-col sm:flex-col rounded-lg border-primary border-[2px] mx-2 p-5;
}
.boostpack> div{
  @apply flex flex-col sm:flex-row justify-between items-center gap-3 py-3;
}
.boostpack > div > article{
  @apply flex flex-col items-start justify-between rounded-sm p-2 w-full h-[100px];
  border: 1px solid #F8B141;
  & h5{
    @apply text-[1.3rem] text-gradient text-nowrap;
      font-family: 'ribeye';
  }
  & p{
    @apply text-xs lg:text-[0.9rem] text-start;
  }
  & span {
    @apply text-2xl font-thin;
  }
  & h6{
    @appply font-thin text-sm;
  }
}
.boostpack> nav{
  @apply flex justify-between items-center pt-3 pb-5;
}
.boostpack> nav > h5{
  @apply capitalize text-gradient text-2xl;
  font-family: 'ribeye';
}